body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

div {
    text-align: center;
}

.radio-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.radio-container label {
    margin-right: 20px;
    font-size: 18px;
}

.radio-container input[type="radio"] {
    margin-right: 5px;
}

.dash-graph {
    margin-top: 20px;
}
